/**
*
* style.css 
* @author - Mazeen
* @date - 28/7/2023 
**/
.bmi-box {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
}
.wrapper {
    padding: 30px;
}
.bmi-box .value {
    margin: 30px 0 0 0;
    text-align: center;
}
.bmi-box .display {
    font-size: 22px;
    font-weight: bold;
    color: #120229;
    margin-top: 20px;
}
.bmi-box .subtitle {
    font-weight: bold;
}
.bmi-box .status {
    margin-top: 20px;
}
.error {
    color: #c0392b;
    margin-top: 2px;
    font-size: 13px;
}